<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XemuCoreTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>XemuDebbuger.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>XemuDebuggerTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>XemuNESTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>XemuPersistanceTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>XemuRuntimeTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>Clibedit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XemuAsm</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XemuCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XemuDebugger</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XemuFoundation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XemuNES</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XemuNESTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XemuSwiftUI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
